img {
  border: 0;
}

h1 a {
  text-decoration: none;
}

p.flash_notice {
  font-weight: bold;
}

#profile {
  float: right;
  vertical-align: top;
}

#profile_pic {
  float: left;
  padding-right: 4px;
}

iframe.form {
  float: left;
}

div.field {
  padding-top: 1em;
}

div.field label {
  float: left;
  text-align: right;
  width: 100px;
  padding-right: 4px;
}

div.field_with_errors {
  display: inline;
  padding: 0px;
  background-color: white;
}

div.field_with_errors label {
  color: red;
}

fieldset {
  margin-bottom: 1em;
}

div.indented_submit {
  padding-left: 104px;
}

div.spacious_submit {
  margin-bottom: 1em;
}