<table>
    <% @quizzes.each_slice(3) do |quizzes| %>
          <tr>
                  <% quizzes.each do |quizz| %>
                            <td> <%= quizz.name %> <br>
                            <%= link_to image_tag("http://img.youtube.com/vi/#{quizz.video_id}/1.jpg"), "http://www.youtube.com/watch?v=#{quizz.video_id}" %><br>
                            <%= link_to "take quiz", "../quizzes/#{quizz.id}" %></td>
                  <% end %>
          </tr>
   <% end %>
</table>

