<% if logged_in? %>
  <div id=profile>
    <%= image_tag(current_user_profile['image']['url'],
                  :alt => 'Profile picture', :class => 'profile_pic') %>
    <%= current_user_profile['displayName'] %>
  </div>
<% end %>