<% if logged_in? %>
  <div id=profile>
    <div id=profile_pic>
      <%= image_tag current_user_profile['image']['url'],
                    :alt => 'Profile picture' %>
    </div>

    <%= current_user_profile['displayName'] %><br>
    <%= link_to 'Logout', logout_path, :rel => 'nofollow' %>
  </div>
<% end %>